{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'weather/css/style.css' %}">
  </head>
  <body>
  <h1>Kildaire Urban Farms Weather Report</h1>
  <div class="container">
  {% for forecast in weather_data %}
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <span class="period">{{ forecast.name }}</span>
              <br>
            <span class="temperature">{{ forecast.temperature }} °F</span>  
            <div class="weather-icon">
              <figure class="image">
                <img src="{{ forecast.icon }}" alt="Image">
              </figure>
            </div>
              <br> 
            <span class="detailedForecast">{{ forecast.detailedForecast }}</span>
          </p>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
  </div>
  </body>
</html>